/* The .navbar class is set to position: fixed to keep it at the top of the screen, 
transition: transform 0.3s ease-in-out is used to add a smooth transition when the navbar moves off the screen.
 The .navbar.scrolled class is used to apply the transition when the user scrolls down. */
 nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    color: #fff;
  }

  .nav-link {
    display: inline-block;
    position: relative;
  }
  
  .nav-link::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    bottom: -3px;
    background-color: #fff;
    margin-left: 15px;
    transition: width 0.15s ease-in-out;
    z-index: -1;
  }
  
  .nav-link:hover::before {
    margin-left: 15px;
    width: 70%;
  }

  li {
    user-select: none;
    text-decoration: none;
    margin-top: 1.5px;
    color: #00ffc8;
  }
  
  /* The transform: translateY(-100%) property moves the navbar up by 100% of its height, effectively moving it off the screen. 
  You can adjust the transition-duration and transition-timing-function properties to change the speed and style of the transition. */
  .navbar.scrolled {
    padding: 0px 0;
    background-color: #121212;
    transform: translateY(-100%);
  }
  
  nav.navbar .navbar-nav .nav-link {
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
  }

  span.navbar-text {
    display: flex;
    align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid #00ffc8;
}

.social-icon a img {
	transition: 0.3s ease-in-out;
}

.social-icon a:hover {
  background: rgba(255, 255, 255, 0.225);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #eece64;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: rgb(0, 0, 0);
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}